:root {
  --tomato-main: #FF9AA2;
  --tomato-light: #FFB7B2;
  --tomato-dark: #D8888A;
  --tomato-highlight: #FFD3D6;
  --stem-green: #B5EAD7;
  --stem-dark: #8BC4B2;
  --shadow-color: #E8C8C8; 
}

body {
    background-color: var(--tomato-highlight);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;

    width: 470px;

    border-radius: 24px;
}

.timer-content{
    width: 100%;
    height: 52px;
    background-color: var(--tomato-main);

    border-style: solid;
    border-color: var(--tomato-dark);
    border-radius: 16px;
    border-width: 2px;

    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.animation{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 245px;

    border-style: solid;
    border-color: var(--tomato-dark);
    border-radius: 32px;
    border-width: 2px;
}

.buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 24px;
    color: var(--stem-dark);

    background-color: var(--stem-green);
    border-radius: 16px;
    border-color: var(--stem-dark);
    border-style: solid;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
}

#current-image {
    width: 300px;
    height: 245px;
    margin-bottom: -20px;
}